.sidebar {
  width: 20%;
  background-color: white;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.conversa {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.conversa:hover {
  background-color: #e6e6e6;
}

.conversa p {
  margin-left: 10px;
  font-weight: 500;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.ativa {
  background-color: #d0ebff;
}

.avatarCliente {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
