# Maven directories
/target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/timing.properties.lock

# Eclipse / IntelliJ IDEA
*.classpath
*.project
*.settings/
*.idea/
*.iml
out/

# Node.js (se você ainda tiver alguma integração com JavaScript)
node_modules/
.pnp/
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
