.caixa {
  background-color: white;
  height: fit-content;
  min-height: 100vh;
  margin-top: 0;
}

.painelCliente_container {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  gap: 10px;
  width: 85%;
  background-color: transparent;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.painelCliente_container::-webkit-scrollbar {
  height: 10px;
}

.painelCliente_container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.painelCliente_container::-webkit-scrollbar-track {
  background: transparent;
}

/* PAINEL */
.pedidos_card,
.pagamentos_card,
.trabalhofinal_card,
.conclusao_card,
.historico_card {
  margin: 10rem 0 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  height: fit-content;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.093);
  background-color: transparent;

  h2 {
    margin-top: 0;
    padding: 5px 50px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: 500;
  }

  h3 {
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    height: fit-content;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    color: rgba(0, 0, 0, 0.67);
    border-bottom: 1px solid #b1b1b163;
    border-top: 1px solid #b1b1b163;
    width: 90%;
  }

  span {
    padding: 10px 10px 0 10px;
    text-align: left;
    width: 85%;
    color: #666666;
  }
}

.pedidos_card h2 {
  background-color: #fa5d5d;
}

.pagamentos_card h2 {
  background-color: #87d283;
}

.trabalhofinal_card h2 {
  background-color: #8583d2;
}

.conclusao_card h2 {
  background-color: #83aed2;
}

.historico_card h2 {
  background-color: #d2b183;
}

/* CAIXA QUE APARECE AS INFORMAÇÕES DENTRO DO PAINEL */
.card_caixa {
  padding: 5px;
  margin: 10px;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.364);

  span {
    text-align: left;
  }
}

/* CAIXA DA COMISSÃO DO CLIENTE */
.comissao_card {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 16px 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }

  h4 {
    text-align: left;
    font-size: 16px;
    margin: 0;
  }

  .h4 {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;

    i {
      font-size: 18px;
      color: #666;
      transition: transform 0.2s, color 0.2s;
      margin-left: 12px;

      &:hover {
        color: #007bff;
        transform: scale(1.2) rotate(10deg);
      }
    }

    .tooltip {
      position: relative;

      .tooltiptext {
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: #222;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 6px 8px;
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.3s ease;
        font-size: 12px;
        z-index: 10;
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  span {
    font-weight: 500;
    font-size: 15px;
    color: #555;
    margin-left: 6px;
  }

  img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
  }
}

.cancelar {
  margin-top: 12px;
  align-self: center;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    border: none;
    background-color: #e74c3c;
    color: white;
  }
}

.aceitar {
  display: flex;
  justify-self: center;
  align-self: center;
  border: 2px solid #3bb60f;
  color: white;
  background-color: #3bb60f;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
}

.aceitar:hover {
  border: 2px solid #3bb60f;
  background-color: white;
  color: #3bb60f;
}

.botao_arte_final {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.botao_arte_final:hover {
  background-color: #43a047;
}

.entrega_imagem_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  justify-content: center;
}

.galeria {
  position: relative;
  display: inline-block;
}

.imagemPainel {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.botao_baixar {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.botao_baixar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.botao_baixar i {
  font-size: 14px;
}

.mensagem_info {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  animation: fadeInSlide 0.8s ease-in-out;

  span {
    color: #8683d2;
  }

  i {
    color: #8683d2;
    font-size: 1rem;
  }
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MODAL */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem 2rem 3rem 2rem;
  border-radius: 12px;
  width: 40%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  .fechar {
    text-align: right;
    font-size: 20px;
  }

  .fechar:hover {
    color: red;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.36);
  }

  h4 {
    text-align: center;
    padding-top: 2rem;
    font-size: 15px;
  }
}

.mensagem_valor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: fit-content;
}

.mensagem {
  width: 70%;
  height: 100%;
  padding: 0 0 2.2rem 0;

  p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
  }

  span {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 450;
  }
}

.valor {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 60px;
  padding: 0 0 4rem 0;
  border-left: 1px solid gray;
}

.pagamentos_botao {
  width: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  font-size: medium;

  button {
    width: 30%;
    height: 3rem;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 2rem;
      background-color: white;
    }
  }
}

.pix,
.debito,
.credito {
  padding: 10px 50px;
}

.pix {
  background-color: #2dc2a0;
  border: 1px solid #2dc2a0;
}

.debito {
  background-color: #5e5959;
  border: 1px solid #5e5959;
}

.credito {
  background-color: #e6e6e6;
  color: #4d4d4d;
  border: 1px solid #e6e6e6;
}

.pix:hover {
  color: #2dc2a0;
  border: 1px solid #2dc2a0;
  background-color: white;
}

.debito:hover {
  color: #5e5959;
  border: 1px solid #5e5959;
  background-color: white;
}

.credito:hover {
  color: #848484;
  border: 1px solid #848484;
  background-color: white;
}

@keyframes aparecerDesaparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 1650px) {
  .painelArtista_container {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .pedidos_card,
  .pagamentos_card,
  .trabalhofinal_card,
  .conclusao_card,
  .historico_card {
    min-width: 20%;
    max-width: 10px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 1600px) {
  .pedidos_card,
  .pagamentos_card,
  .trabalhofinal_card,
  .conclusao_card,
  .historico_card {
    min-width: 25%;
    max-width: 10px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1300px) {
  .pedidos_card,
  .pagamentos_card,
  .trabalhofinal_card,
  .conclusao_card,
  .historico_card {
    min-width: 30%;
    max-width: 10px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 1000px) {
  .pedidos_card,
  .pagamentos_card,
  .trabalhofinal_card,
  .conclusao_card,
  .historico_card {
    min-width: 50%;
    max-width: 200px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 200px) {
  .painelCliente_container {
    flex-direction: column;
    align-items: center;
  }

  .pedidos_card,
  .pagamentos_card,
  .trabalhofinal_card,
  .conclusao_card,
  .historico_card {
    width: 90%;
  }
}
